<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/main.css" rel="stylesheet" />
		<link href="../../iconfont/iconfont.css" rel="stylesheet" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">二维码扫描</h1>
			<a id="flash-light" class="mui-icon iconfont icon-shanguangdengguanbi mui-pull-right"></a>
		</header>

		<div id="qrcode-scan"></div>
		
		<div class="mui-bar mui-bar-footer page-footer">
			<a id="choose-picture" class="mui-pull-left">从相册选择二维码</a>
			<a class="mui-action-back mui-pull-right">取消</a>
		</div>

		<script src="../../js/mui.min.js"></script>
		<script src="../../js/qrcode.js"></script>
		<script type="text/javascript">
			mui.plusReady(function () {
				mui.init();
				scanQrcode();
				document.getElementById('choose-picture').addEventListener('tap', function (e) {
					scanPicture();
				});
				
				document.getElementById('qrcode-scan').addEventListener('tap', function (e) {
					startScan();
				});
			});
			
		</script>
	</body>

</html>