<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">关于</h1>
		</header>
		
		<div class="mui-content" class="mui-scroll-wrapper">
			<div class="mui-scroll">
		    <p>
		    	【瑞信宝的核心】：<br/>
		    	基于以太坊区块链分布式智能技术,pow工作量证明算法，实现瑞信宝的去中心化、一对一流通，让流通产生价值，让快速流通增加哈希值，从而达到加速释放价值的目的。

<br/><br/>名次解释：<br/>

【资产】：<br/>
法定货币现金，也可以称之为现金币或钱，可用于转账、挂卖、数字资产中进行币交易、商城商品购买。
<br/>
【积分】：<br/>
资产每次流通一次（转出），平台会自动赠送流通金额的80%作为积分奖励，积分是资产流通产生的价值。
<br/>
【转出】：<br/>
用户可以把资产转到任何一个平台用户的账户中。
<br/>
【转入】：<br/>
显示收款二维码，让其他用户转入当前用户账户中。
<br/>
【挂卖】：<br/>
用户可以把自己的资产进行卖出，在首页的交易中进行操作，通过创建挂卖订单的方式，自由，无限制，订单挂卖后获得85%的现金，平台不再赠送积分。
<br/>
【买进】：<br/>
用户在首页交易中可以查看其它用户的挂卖列表，交易成功之后可以获得对应的资产和积分。
<br/>
【数字资产】：<br/>
基于以太坊区块链技术，开源的数字加密技术，发行的数字货币。总发行量为30亿，首发2亿，剩余28亿由瑞信宝钱包用户通过流通增加算法获取。
<br/>
【分享】：<br/>
分享链接或者二维码，推广给其他用户。通过分享，被分享者在使用瑞信宝钱包的过程能加速分享者资产的获得和积分的释放速度。
<br/><br/>
使用规则：<br/>

【转出规则】：<br/>
通过“转出”或者“扫码支付”，转账方转出多少资产，自己资产数量对应减少，同时可以获取支付方式的对应数量的现金和80%的积分。收款方需支付相应的现金给对方，同时收款方获得80%的资产和20%的积分。
<br/>
【挂卖规则】：<br/>
用户通过挂卖交易的订单，自由，无限制，订单挂卖后获得85%的现金，平台不再赠送积分。例如A用户创建10000的挂卖订单，购买者只需要支付8500现金即可获得10000中80%的资产和20%的积分，挂卖者获得8500的现金。
<br/>
【加速释放规则】：<br/>
用户积分按千分之二的速度释放到资产，在用户不断分享其他用户使用钱包的情况下，其他用户的流通额度和速度可以加速其积分的释放速度，用户积分释放的速度根据用户的等级来衡量。 
<br/>
【会员级别规则】：<br/>
用户等级共计分为四个等级，一级用户积分为大于等于5000且小于5W，二级用户积分为大于等于5W且小于25W，三级用户积分为大于等于25W且小于100W，四级用户积分大于等于100W。
		    </p>
		    </div>
		</div>
		
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init();
			mui('.mui-scroll-wrapper').scroll();
		</script>
	</body>

</html>