<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">

		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/main.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../iconfont/iconfont.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<a id="menu" class="mui-action-menu mui-icon mui-icon-bars mui-pull-right" href="#topPopover"></a>
			<h1 class="mui-title">推荐注册</h1>
		</header>
		<div class="mui-content qrcode-container" id="content">
			<div class="qrcode-center">
				<div id="qrcode"></div>
				<p class="qrcode-des">使用微信扫一扫，打开网页注册成为瑞信宝用户</p>
			</div>
		</div>
		<div id="topPopover" class="mui-popover">
			<div class="mui-popover-arrow"></div>
			<div class="mui-scroll-wrapper">
				<div class="mui-scroll">
					<ul class="mui-table-view">
						<li id="saveQrcode" class="mui-table-view-cell">
							保存二维码图片
						</li>
					</ul>
				</div>
			</div>

		</div>

		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/qrcode.min.js"></script>
		<script type="text/javascript" src="../../js/image.js"></script>
		<script src="../../js/vue.min.js"></script> 
		<script src="../../js/api.js"></script>
		<script type="text/javascript">
			var pageView = new Vue({
				el: '#content',
				data: {},
				mounted: function() {
					mui.plusReady(function() {
						mui.init({
							preloadPages: []
						});
						pageView.showQrcode();
						
						document.getElementById('saveQrcode').addEventListener('tap', function(e) {
							pageView.saveQrcode();
						});
					});
				},
				methods: {
					showQrcode: function() {
						var qrcode = new QRCode(document.getElementById("qrcode"), {
							text: USER_REGISTER_PAGE + '/' + plus.storage.getItem('uid'),
							width: 200,
							height: 200,
							colorDark: "#000000",
							colorLight: "#ffffff",
							correctLevel: QRCode.CorrectLevel.H
						});
					},
					saveQrcode: function() {
						mui('#topPopover').popover('hide');
						var image = document.getElementById('qrcode').children[1];
						saveImageToGallery(image.src.replace('data:image/png:base64,', ''), 'mshare-code.png');
					}
				}
			});
		</script>
	</body>

</html>