<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/main.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">投诉建议</h1>
		</header>

		<div class="mui-content" id="content">
			<form>
				<p>投诉建议</p>
				<div class="row mui-input-row">
					<textarea id='question' class="mui-input-clear question" placeholder="请详细描述您的问题和建议..." v-model="suggestForm.suggest"></textarea>
				</div>
			</form>
			<div class="mui-content-padded">
				<button v-on:tap="addSuggest" type="button" class="mui-btn mui-btn-block mui-btn-primary">
					<i class="mui-icon mui-icon-chatboxes"></i>
					提交
				</button>
			</div>
		</div>

		<script src="../../js/mui.min.js"></script>
		<script src="../../js/vue.min.js"></script>
		<script src="../../js/api.js"></script>
		<script type="text/javascript">
			var pageView = new Vue({
				el: '#content',
				data: {
					suggestForm: {
						suggest: ''
					}
				},
				mounted: function() {
					mui.plusReady(function() {
						mui.init();
					});
				},
				methods: {
					addSuggest: function() {
						mui.ajax(USER_SUGGEST_ADD, {
							data: {
								userId: plus.storage.getItem('uid'),
								suggest: pageView.suggestForm.suggest
							},
							headers: {
								'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8'
							},
							dataType: 'json',
							type: 'post',
							success: function(data) {
								if(data.status === 'ok') {
									mui.alert(data.message, '提示');
									mui.back();
								} else if(data.status === 'data-error') {
									mui.alert(data.message, '提示');
								}
							},
							error: function(xhr, type, errorThrown) {
								mui.alert('似乎没有网络了哦……', '提示');
							}
						});
					}
				}
			});
		</script>
	</body>

</html>