<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">

		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/main.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../iconfont/iconfont.css" />

		<style>
			.mui-radio label {
				color: #0062CC;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<a id="menu" class="mui-action-menu mui-icon mui-icon-bars mui-pull-right" href="#topPopover"></a>
			<h1 class="mui-title">转出</h1>
		</header>
		<div class="mui-content" id="content">
			<form class="mui-input-group">
				<div class="mui-input-row">
					<label>对方账户</label>
					<input type="text" class="mui-input-clear mui-input" placeholder="请输入对方UID" v-model="transForm.transTo">
				</div>
				<p>您的余额：{{userInfo.total}}</p>
				<div class="mui-input-row">
					<label>转出数额</label>
					<input type="text" class="mui-input-clear mui-input" placeholder="请输入转出数额" v-model="transForm.money">
				</div>
			</form>
			<div class="mui-content-padded">
				<button v-on:tap="transout" type="button" class="mui-btn mui-btn-block mui-btn-primary">
					<i class="mui-icon mui-icon-checkmarkempty"></i>
					确认转出
				</button>
				<button type="button" class="mui-btn mui-btn-block mui-btn-success">
					<i class="mui-icon mui-icon-loop"></i>
					兑换积分
				</button>
			</div>
		</div>
		<div id="topPopover" class="mui-popover">
			<div class="mui-popover-arrow"></div>
			<div class="mui-scroll-wrapper">
				<div class="mui-scroll">
					<ul class="mui-table-view">
						<li class="mui-table-view-cell">
							<a id="transin">转出记录</a>
						</li>
					</ul>
				</div>
			</div>

		</div>

		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/vue.min.js"></script>
		<script type="text/javascript" src="../../js/api.js"></script>
		<script type="text/javascript">
			var pageView = new Vue({
				el: "#content",
				data: {
					transForm: {
						transTo: '',
						money: 100
					},
					userInfo: {
						total: 0
					}
				},
				mounted: function() {
					mui.plusReady(function() {
						mui.init({
							preloadPages: []
						});
						var self = plus.webview.currentWebview();
						if(self.qrcode_result) {
							pageView.transForm.transTo = self.qrcode_result;
						}

						pageView.userInfo.total = parseInt(plus.storage.getItem('total'));

						document.getElementById('transin').addEventListener('tap', function(e) {
							pageView.transoutHistory();
						});
					});
				},
				methods: {
					transoutHistory: function() {
						mui('#topPopover').popover('hide');
						mui.openWindow({
							id: 'transout_history_page',
							url: 'transout_history_page.html',
							show: {
								aniShow: 'pop-in'
							},
							waiting: {
								autoShow: false
							}
						});
					},
					transout: function() {
						var uid = plus.storage.getItem('uid');
						if (pageView.transForm.transTo == uid) {
							mui.alert('不能转出给自己', '提示');
						} else if(pageView.transForm.money == '' || pageView.transForm.money <= 0 
							|| pageView.transForm.money > pageView.userInfo.total
							|| pageView.transForm.money % 100 != 0) {
							mui.alert('请输入100的整数倍的转出数额，且转出数额不能大于余额', '提示');
						} else if(pageView.transForm.transTo == null || pageView.transForm.transTo === '') {
							mui.alert('请输入对方UID', '提示');
						} else {
							mui.ajax(USER_INFO + '/' + pageView.transForm.transTo, {
								data: {},
								dataType: 'json',
								type: 'post',
								success: function(data) {
									if(data.phone != null && data.phone !== '') {
										mui.confirm('确定转出' + pageView.transForm.money + '数额吗？对方手机尾号：' + data.phone.substr(7, 4), '提示', ['确定', '取消'], function(r) {
											if(r.index === 0) {
												mui.ajax(USER_TRANS_OUT, {
													data: {
														transFrom: uid,
														transTo: pageView.transForm.transTo,
														total: pageView.transForm.money
													},
													dataType: 'json',
													type: 'post',
													success: function(data) {
														if(data.status === 'ok') {
															pageView.userInfo.total -= pageView.transForm.money;
															plus.storage.setItem('total', pageView.userInfo.total + '');
															mui.alert('转出成功');
														} else if(data.status === 'data-error') {
															mui.alert(data.message, '提示');
														}
													},
													error: function(xhr, type, errorThrown) {
														mui.alert('似乎没有网络了哦……', '提示');
													}
												});
											}
										});
									} else {
										mui.alert('请输入正确的对方UID', '提示');
									}
								},
								error: function(xhr, type, errorThrown) {
									mui.alert('似乎没有网络了哦……', '提示');
								}
							});
						}
					}
				}
			});
		</script>
	</body>

</html>